/* RESET */
* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header img {
    border-radius: 100px;
    width:96px;
    height:96px;
}

a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

ul, 
ol{
    list-style: none;
}

.ano {
    color: #888;
    display: block;
    font-style: italic;
}

[class*='item'] {
    background-color: rgba(181,194,248,.2);
    border-radius: 32px;
    margin-bottom: 16px;
    padding: 24px;
}

[class*="-item"]:last-child {
    background-color: rgba(248, 222, 181, 0.2);
}

[class*="-item"]:first-of-type {
    background-color: rgba(248, 222, 181, 0.2);
}

[class*="-item"]:nth-child(odd) {
    background-color: rgba(162, 253, 181, 0.2);
}
  