/* RESET */
:root {
    --primaria: #152ea0;
    --bg1: rgba(181,194,248,.2);
    --bg2: rgba(248, 222, 181, 0.2);
    --bg3: rgba(162, 253, 181, 0.2);
    --bg4: rgba(248, 222, 181, 0.2);
    --padding: 20px;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    background-color: var(--bg1);
}

header,
aside,
main,
section,
article,
div,
footer {
    padding: var(--padding);
}

header {
    border-bottom: 2px solid var(--primaria);
}

ul, 
ol{
    list-style: none;
}

a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    font-family: 'Anton', Arial, Helvetica, sans-serif;
    color: var(--primaria);
    font-size: 2rem;
    font-weight: 300;
    margin: 24px auto;
    text-align: center;
    text-transform: uppercase;
}

h2,
h3 {
    color: var(--primaria);
    margin: 24px auto 16px;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    color: #222;
    line-height: 1.5rem;
    margin: 8px auto;
}

header img {
    animation: bordaCamaleao 4s infinite;
    border: 2px solid var(--bg1);
    border-radius: 11px;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2));
    width:120px;
    height:120px;
}

header img:hover {
    transform: rotateY(360deg);
}

#habilidades article {
    background-color: var(--bg1);
    border-radius: 16px 0;
    display: inline-block;
    min-width: calc(50% - 16px);
    vertical-align: top;
    min-height: 172px;
}


.ano {
    color: #888;
    display: block;
    font-style: italic;
}

a[href*="tel"]::before {
    content: '\0260E';
    margin-right: 4px;
}

a[href*="mailto"]::before {
    content: '\2709';
    margin-right: 4px;
    font-size: 20px;
}

[class*='item'] {
    background-color: var(--bg1);
    border-radius: 32px;
    margin-bottom: 16px;
    padding: 24px;
}

[class*="-item"]:last-child {
    background-color: var(--bg2);
}

[class*="-item"]:nth-child(odd) {
    background-color: var(--bg3);
}

[class*="-item"]:first-of-type {
    background-color: var(--bg4);
}  

#meufooter {
    text-align: center;
}

header div {
    margin: -40px 0 0 50%;
    display: inline-block;
    vertical-align: middle;
}

aside h1 {
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: bold;
}

#objetivo mark {
    background-color: rgba(181, 194, 248, .2);
}